*.animation linguist-language=JSON
*.augment linguist-language=JSON
*.back linguist-language=JSON
*.barren linguist-language=JSON
*.beamaxe linguist-language=JSON
*.bush linguist-language=JSON
*.canyon linguist-language=JSON
*.celestial linguist-language=JSON
*.chasm linguist-language=JSON
*.chest linguist-language=JSON
*.cinematic linguist-language=JSON
*.codexitem linguist-language=JSON
*.coinitem linguist-language=JSON
*.config linguist-language=JSON
*.configfunctions linguist-language=JSON
*.consumable linguist-language=JSON
*.corebiome linguist-language=JSON
*.damage linguist-language=JSON
*.dunes linguist-language=JSON
*.dungeon linguist-language=JSON
*.effectsource linguist-language=JSON
*.flashlight linguist-language=JSON
*.frames linguist-language=JSON
*.functions linguist-language=JSON
*.generatedgun linguist-language=JSON
*.grass linguist-language=JSON
*.gun linguist-language=JSON
*.harvestingtool linguist-language=JSON
*.head linguist-language=JSON
*.hills linguist-language=JSON
*.instrument linguist-language=JSON
*.islands linguist-language=JSON
*.item linguist-language=JSON
*.itemdescription linguist-language=JSON
*.legs linguist-language=JSON
*.material linguist-language=JSON
*.matitem linguist-language=JSON
*.matmod linguist-language=JSON
*.miningtool linguist-language=JSON
*.modularfoliage linguist-language=JSON
*.modularstem linguist-language=JSON
*.monsterpart linguist-language=JSON
*.monsterskill linguist-language=JSON
*.monstertype linguist-language=JSON
*.mountains linguist-language=JSON
*.npctype linguist-language=JSON
*.object linguist-language=JSON
*.painttool linguist-language=JSON
*.parallax linguist-language=JSON
*.particle linguist-language=JSON
*.particlesource linguist-language=JSON
*.projectile linguist-language=JSON
*.questtemplate linguist-language=JSON
*.recipe linguist-language=JSON
*.ridgeblocks linguist-language=JSON
*.ridgecave linguist-language=JSON
*.spacebiome linguist-language=JSON
*.species linguist-language=JSON
*.statuseffect linguist-language=JSON
*.structure linguist-language=JSON
*.surfacebiome linguist-language=JSON
*.sword linguist-language=JSON
*.tech linguist-language=JSON
*.techitem linguist-language=JSON
*.terrain linguist-language=JSON
*.thrownitem linguist-language=JSON
*.tillingtool linguist-language=JSON
*.tooltip linguist-language=JSON
*.treasurechests linguist-language=JSON
*.treasurepools linguist-language=JSON
*.undergroundbiome linguist-language=JSON
*.undergroundparallax linguist-language=JSON
*.unusedmonsterskill linguist-language=JSON
*.weather linguist-language=JSON
*.wiretool linguist-language=JSON
